body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FFFFFF linear-gradient(180deg, rgba(255, 191, 164, 0.12) 0%, rgba(255, 169, 164, 0) 67.06%),
    linear-gradient(0deg, rgba(255, 243, 242, 0.2), rgba(255, 243, 242, 0.2)) fixed;
}

.contentBox {
    margin-left: 35px;
    margin-right: 35px;
}
